.declared-weight {
    background-color: #b6b6b6;
}

.ok-weight {
    background-color: #419641;
}

.cancel-weight {
    background-color: #c12e2a;
}

.doctor-weight {
    background-color: #2aabd2;
}