.declared-weight {
    background-color: #b6b6b6;
}

.good-lift-weight {
    background-color: #419641;
}

.bad-lift-weight {
    background-color: #c12e2a;
}

.doctor-weight {
    background-color: #2aabd2;
}

.refuse-weight {
    background-color: #967adc;
}

.disq-participant {
    background-color: #000000;
}

.judge-mistake {
    background-color: #245269;
}

.btn-theme-disq {
    color: #fff;
    background-color: #011000;
    border-color: #000000;
}
.btn-theme-disq:hover,
.btn-theme-disq:focus,
.btn-theme-disq:active,
.btn-theme-disq.active,
.open .dropdown-toggle.btn-theme-disq {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}